@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
  
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px 0px;
  text-align: center;
  text-transform: uppercase;
  
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #ddd;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 75vh;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: auto;
  /* height: 50px; */
  background-color: #3397DB;
  align-items: center;
  height:13vh;
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0px 10px;
  width: 200px;
  border-radius:20px;
  box-shadow: 2px 2px 5px #555;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  /* border: 2px solid #ccc; */
  font-family: Arial,sans-serif;
  margin: auto;
  min-height: 468px;
  /* padding: 0 30px 25px; */
  text-align: center;
  width: 85%;
  box-shadow: 5px 5px 8px #BBB;
  position:relative;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  /* border-bottom: 3px solid #eee; */
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  /* margin: 15px 0 0; */
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius:20px;
}


/* ---------------------- Shiv --------------------- */

#restaurants-list {
  display:grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 2vw;
}

.desc-wrapper {
  padding: 1vw 4vw;
}

.container {
  max-width:1200px;
  margin:auto;
  padding:0;
  z-index:-1;
}

#restaurants-list {
  z-index: -1;
}
.view-button {
  position: absolute;
  bottom:1.5vw;
  right:1.5vw;
  
  box-shadow: 3px 3px 6px #BBB;
}

nav > h1 {
  padding-top:2vw;
  padding-left:2vw;
  float:left;
}

nav > a {
  padding-top:2vw;
  padding-right:2vw;
  float:right;
  font-size: 1.2rem;
}

.filter-options {
  padding:1.2vw;
  box-shadow: 3px 4px 9px #AAA;
  margin-bottom: 0.5vw;
  
}

.filter-options {
  text-align: right;
  
}

#restaurants-list li a:active {
  box-shadow:inset 0 0 10px #000000;
 
}


.inner-container {
  width:90%;
  margin:auto;
}
/* ------------------------------------------------- */
/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  
  width: 50%;
  
}
#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  padding:0;
  box-shadow: 3px 3px 7px #BBB;
}
#restaurant-address {
  font-size: 12pt;
  margin: 5px 0px;
  background: #ddd;
  padding:1vw;
  text-align: left;
  box-shadow: 3px 3px 7px #BBB;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  
  box-shadow: 3px 3px 7px #BBB;
}
#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 3vw 0px;
  width: 50%;
}
#reviews-container {
  padding: 2vw 0px;
  width:50%;
 
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 1vw auto;
  overflow: hidden;
  padding: 20px 20px;
  position: relative;
  width: 85%;
  box-shadow: 3px 3px 7px #BBB;
  border-top-right-radius: 20px;
  max-width: 380px;
}

#restaurant-hours td {
  color: #000;
  
}

table {
  width:100%;
  background: #ddd;
  padding:1vw;
  box-shadow: 3px 3px 7px #bbb;
}

.review-header {
  padding:2vw;
  margin:0;
  box-shadow: 3px 3px 7px #BBB;
  background: #252831;
  border-top-right-radius: 20px;
}

.review-name {
  color:white;
  
  font-size: 1.2rem;
  display:inline;
}

.review-date {
  color:white;
  
  font-size: 1rem;
  float:right;
}

.rating {
  background: orange;
  /* width: 100%; */
  float: left;
  /* display: block; */
  clear: both;
  float: center;
  margin-right: 100%;
  /* overflow-wrap: initial; */
  width: 80px;
  padding: 10px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  text-align: center;
  font-weight: bold;
  color: white;
  box-shadow: 3px 3px 7px #BBB;

}

.review-comments {
  padding: 0px;
  line-height: 1.6rem;
  color: midnightblue;
  
}

@media screen and (max-width:1010px){
  #restaurants-list {
    grid-template-columns: 1fr 1fr;
  }

  #restaurants-list li {
    width:93%;
    max-width:370px;
  }
}

@media screen and (max-width:700px) {

  html, body {
    width:100%;
  }
  nav h1 {
    display:block;
    text-align: center;
  }

  nav > a {
    display: none;
  }

  

  .filter-options h2 {
    font-size: 1rem;
    text-align: left;
    width:100%;
    margin:5px;
  }

  .filter-options select {
    text-align: none;
    display:inline;
    width:48%;
    font-size: 0.8rem;
    margin:0.5%;
    padding:0;
  }

  #neighborhoods-select {
    float:left;
  }

  #map {
    height:60vh;
  }

  #restaurants-list {
    grid-template-columns: 1fr;
    grid-row-gap: 4vh;
  }

  #restaurants-list li {
    width:99%;
    margin:auto;
    max-width:370px;
  }
}


